<div class="wrap">
  <h1>Event driven architecture</h1>
  <div class="box">
    <p>Hackers @ Berkeley holds frequent workshops, hackerspaces, and social events.</p>
    <p>We're a community driven by sharing knowledge, building projects, and helping each other become better hackers. All workshops are run by volunteers. If you have something cool to share with the Hack community, email <a href="mailto:workshops@hackersatberkeley.com"><strong>workshops@hackersatberkeley.com</strong></a> to set up an event.</p>
    <p></p>
  </div>
  <h1>Upcoming</h1>
  <% if (events.new.length === 0) { %>
    <div class="box"><p>There are no upcoming events. Check out our <a href="/events">past events</a> or our <a href="http://www.facebook.com/groups/hackberkeley/">Facebook page</a></p></div>
  <% } %>
  <% for(var i in events.new) { var event = events.new[i]; %> 
    <div class="eventbox box" style="background-image: url('<%-event.pic_url%>');">      
     <div class="small"><%=event.date%> / <%=event.time%> / <%=event.location%></div>
     <strong><a href="http://www.facebook.com/event.php?eid=<%=event.id%>"><%=event.name%></a></strong>
      <p><%-event.description%></p>
    </div>
  <% } %>
  <h1>Past events</h1>
    <% for(var i in events.old) { var event = events.old[i]; %> 
    <div class="eventcomplete box" style="background-image: url('<%-event.pic_url%>');">      
     <div class="small"><%=event.date%> / <%=event.time%> / <%=event.location%></div>
     <strong><a href="http://www.facebook.com/event.php?eid=<%=event.id%>"><%=event.name%></a></strong>
      </div>
  <% } %>
</div>
