<div class="wrap">
  <h1 id="label">
    <span class="labelmsg">BUILD, BREAK, BUILD.</span>
    <span class="labelquote"> - awesome hackers</span>
  </h1>
  <div class="box">
  <p>You're not here to do problem sets. You're here because you want to build.</p>
  <p>Hackers @ Berkeley is here to help you, whether you want to learn practical coding skills, find partners to work with, or promote your project. We're an organization that fosters a culture of creation at Berkeley.</p>
  <p><strong>And we want you to hack with us.</strong></p>
  </div>
  <div id="upcoming">
    <h1>Upcoming Events</h1>
    <% if(events.new.length > 3) { %><a href="/events"><h2 class="butt" id="seemore">See all <%=events.new.length%> events</h2></a><% } %>
  </div>
  <div id="homeevents">
  <% for(var i in events.new) { if(i == 6) {break;} var event = events.new[i]; %>
    <div class="event">
      <a href="http://www.facebook.com/event.php?eid=<%=event.eid%>"><div class="eventimage" style="background-image: url('<%-event.pic_big%>');"></div> 
      <div class="eventtitle"><%=event.date%> / <%=event.name%></div></a>
    </div>
  <% } %>
  </div>
</div>