<div class="wrap">
  <h1>This is who we are</h1>
  <div class="box">
    <p>As a community of hackers, we try our best to not have a rigid hierarchy. However, these are the people who get things done, keep things running, and keep the food trunk full.</p>
    <p></p>
  </div>
  <h1>This is who to contact</h1>
  <div class="box">
    <p><strong>Workshops Team:</strong> workshops@hackersatberkeley.com</p>
    <p><strong>Internships Team:</strong> internships@hackersatberkeley.com, companies@hackersatberkeley.com</p>
    <p><strong>Entrepreneurial Team:</strong> startups@hackersatberkeley.com</p>
    <p><strong>Everyone:</strong> team@hackersatberkeley.com</p>
    <p></p>
  </div>
  <h1>2011-2012 Leadership Team</h1>
  <div id="peoplepersons">
  <% for(var i in people) { var person = people[i]; var hasurl = false;%>
  <% if (person.url != null) { hasurl = true; %><a href="<%=person.url %>"><% } %>
  <div class="people">
    <div class="personimage" style="background-image: url('/images/people/<%= person.image %>');"></div> 
    <div class="persontitle"><%= person.name %></div>
    <div class="personinfo">
    <h4>Contact</h4>
    <% for (var key in people[i].bio) { %>
      <h5><%= key %></h5><%= person.bio[key] %><br>
    <% } %>
    </div>
  </div>
  <% if (hasurl) { hasurl = false; %></a><% } %>
  <% } %>
  </div>
</div>