<div id="content">
<div class="minheight" id="projects">
  
  <% for (var i in projects) { %>
  <h2><%=projects[i].title%><p class="byline">created by <%=projects[i].author%>, <%=projects[i].date%></p></h2> 
  <div class="box">
    <img src="<%=projects[i].image%>" class="icon">
    <%=projects[i].description%>
  </div>  
  <% } %>

</div>
</div>